<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="position: fixed;bottom:0;z-index: 9999999999;">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title" id="mui_title"></h1>
		</header>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({swipeBack: false});
			
			mui.plusReady(function(){
				var self = plus.webview.currentWebview();
				document.getElementById("mui_title").innerText = self.title;
				var ws = plus.webview.create('http://web.yunjuhe.vip/loan/list/v1.0/500382','http://web.yunjuhe.vip/loan/list/v1.0/500382',{top:'45px',bottom:'0px'});
				ws.setCssText('.header{display: none;}');
				ws.show('slide-in-right', 0);
			})
		</script>
	</body>

</html>