<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<title>商品列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/rem.js"></script>    
	    <link href="../../iconfont/iconfont.css" rel="stylesheet">
	    <link href="../../css/mui.min.css" rel="stylesheet">
	    <link href="../../css/all.css" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="../../css/base.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	      <style type="text/css">	
	      	.mui-content{background-color: #FFFFFF;}		
			.mui-content>.mui-table-view:first-child{margin-top: 0;}
			.mui-media-body img{width: 13px;height: 13px;}
			.fixDiv{position: fixed;z-index: 999;left: 0;top: 64px;width: 100%;}
			.mui-bar-nav{box-shadow:none;}
		</style>
	</head>

	<body>
						<!--下拉刷新容器-->
	
	<header class="mui-bar mui-bar-nav" style="background-color: #FFFFFF;">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title" id="titleText"></h1>
	</header>
		
	<div class="mui-content" id="content" v-cloak>
			<ul id="product" class="mui-table-view mui-product tap-view orderTap">
				<li class="mui-table-view-cell mui-collapse mui-col-xs-3">
					<a href="#popover" id="openPopover" class="mui-navigate-right" href="#">综合</a>
				</li>
				<li class="mui-table-view-cell mui-collapse mui-col-xs-3">
					<a class="mui-navigate-right" id="1,1" href="#">价格</a>
				</li>
				<li class="mui-table-view-cell mui-collapse mui-col-xs-3">
					<a class="mui-navigate-right" id="2,1" href="#">销量</a>
				</li>
				<li class="mui-table-view-cell mui-collapse mui-col-xs-3" >
					<a  id="btn_serach" >
						<span class="mui-icon iconfont icon-fenlei"></span>
					</a>
				</li>
			</ul>
			<div id="popover" class="mui-popover">
			    <ul class="mui-table-view tap-view orderTap">
			    	<li class="mui-table-view-cell" >
			    		<a href="#" id="0,0">综合排列</a>
			    	</li>
			    	<li class="mui-table-view-cell">
			    		<a href="#" id="3,2">优惠券面值由高到低</a>
			    	</li>
			    	<li class="mui-table-view-cell">
			    		<a href="#" id="3,1">优惠券面值由低到高</a>
			    	</li>
			    	<li class="mui-table-view-cell">
			    		<a href="#" id="4,2">预估收益由高到低</a>
			    	</li>
			    </ul>
			</div>	
			
			<div id="pullrefresh" class="mui-scroll-wrapper">
  				<div class="mui-scroll">	
					<div class="home-fashion mui-content-padded">
						<ul class="mui-table-view mui-grid-view grid" id="good" v-if="layout == 'grid'">
							<li class="mui-table-view-cell mui-media mui-col-xs-6" v-for="(good,index) in goods" :key="index">
								<a class="item" @tap="open_details(good)">
									<img class="mui-media-object" :src="good.imgSrc">
									<div class="mui-content-padded">
										<span class="mui-media-body mui-ellipsis-2">
											<img v-if="good.type==1" src="../../images/taobao.png"/>
											<img v-if="good.type==2" src="../../images/bg_label_jd.png"/>
											<img v-if="good.type==3" src="../../images/bg_label_tm.png"/>
											{{good.title}}
										</span>
										<div class="discount">
											<span v-if="good.couponAmt==''">券 0</span>
											<span v-if="good.couponAmt!=''">券 {{good.couponAmt}}</span>
											<i>返 {{good.commission}}</i>
										</div>
										<p>¥<b>{{good.salePrice-good.couponAmt|tradeOffs}}</b><i>￥{{good.salePrice}}</i>
											<span>月售 {{good.monthlySale}}</span>
										</p>
									</div>								
								</a>
							</li>
						</ul>
						<ul class="mui-table-view list" v-if="layout == 'list'">
						    <li class="mui-table-view-cell mui-media" v-for="(good,index) in goods" :key="index" style="padding: 5px 5px;margin: 5px 0 5px;">
						        <a href="javascript:;"  @tap="open_details(good)">
						            <img class="mui-media-object mui-pull-left" :src="good.imgSrc">
						            <div class="mui-media-body mui-ellipsis-2" style="font-size: 14px;">
						            	<img v-if="good.type==1" src="../../images/taobao.png"/>
										<img v-if="good.type==2" src="../../images/bg_label_jd.png"/>
										<img v-if="good.type==3" src="../../images/bg_label_tm.png"/>
					                	{{good.title}}				               
						            </div>
						            <div class="discount">
											<span v-if="good.couponAmt==''">券 0</span>
											<span v-if="good.couponAmt!=''">券 {{good.couponAmt}}</span>
											<i>返 {{good.commission}}</i>
										</div>
										<p >
											<span class="mui-pull-left"></span>¥<b>{{good.salePrice-good.couponAmt|tradeOffs}}</b>
											<i v-if="good.type==1">淘宝价：{{good.salePrice}}</i>
											<i v-if="good.type==2">京东价：{{good.salePrice}}</i>
											<i v-if="good.type==3">天猫价：{{good.salePrice}}</i>
											<span class="mui-pull-right">月售 {{good.monthlySale}}</span>
										</p>
						        </a>
						    </li>
						  
						</ul>
					</div>
			    </div>
			</div>
	</div>		
		
<script src="../../js/mui.min.js"></script>
<script src="../../js/api.js"></script>
<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/constant.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/copy.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			   		var banOffTop=document.querySelector("#product").offsetTop;//获取到距离顶部的垂直距离
			        var scTop=0;//初始化垂直滚动的距离
			        window.onscroll = function(){
			        	
			            scTop = document.querySelector('body').scrollTop;//获取到滚动条拉动的距离
			            console.log(scTop);//查看滚动时，垂直方向上，滚动条滚动的距离
			            if(scTop>banOffTop){
			                document.querySelector("#product").classList.add("fixDiv");
			            }else{
			                document.querySelector("#product").classList.remove("fixDiv");
			            }
			        }
			
			mui.init({
				swipeBack: false ,//启用右滑关闭功能
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						  style:'circle',   //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
					      color:'#2BD009',  //可选，默认“#2BD009” 下拉刷新控件颜色
					      height:'50px',    //可选,默认50px.下拉刷新控件的高度,
					      range:'100px',    //可选 默认100px,控件可下拉拖拽的范围
					      offset:'0px',     //可选 默认0px,下拉刷新控件的起始位置
					      auto: false,       //可选,默认false.首次加载自动上拉刷新一次
						  callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载中...',
						contentnomore:'———— 我是有底线的   ———',
						callback: pullupRefresh
					}
				}
			});
			
			var goodsListPage = new Vue({
				el: '#content',
				data: {
					layout: 'grid',
					goods: []
				},
				methods: {
					resetData: function() {//重置数据
						this.muidata.goods=[];
					}
				},
				filters:{
					tradeOffs:function(value){
						value = value.toFixed(2);
						return parseFloat(value);
					}
				}
			})
			var categoryId = '';
			var title = '';
			var type = '';
			var pageNumber = 1;   //页码
			var pageCount = 0;    //总页数
			var sortType = '';
			var sort = '';
			var userId = '';
			
			
	
			mui.plusReady(function(){
				var self = plus.webview.currentWebview();
				userId = plus.storage.getItem(sign_user_id);
				
						
				categoryId = self.categoryId;
				title = self.title;
			    ajaxRequestGoods(categoryId,userId,1,sortType,sort)
				/***
				 * 去掉边框
				 */
				plus.webview.currentWebview().setStyle({
					scrollIndicator: 'none'
				});
			
				
				var self = plus.webview.currentWebview();
				self.addEventListener("hide",function (e) {
					window.scrollTo(0, 0);
					goodsListPage.resetData();
					pageNumber = 1;
					pageCount = 0;
					searchType='';
					mui('#pullrefresh').pullRefresh().enablePullupToRefresh();
					
				},false);
				
				
				
			})
			
			
			var titleNView = {  
			    backgroundColor: '#f7f7f7',//导航栏背景色  
			    titleText: '',//导航栏标题  
			    titleColor: '#000000',//文字颜色  
			    type:'transparent',//透明渐变样式  
			    autoBackButton: true,//自动绘制返回箭头  
			    splitLine:{//底部分割线  
			        color:'#cccccc'  
			    }  
			}  
			
			function open_details(item) {
				titleNView.titleText = item.title;
				mui.openWindow({
					id:'/view/goods/details/goodsDetails.html',
					url:'/view/goods/details/goodsDetails.html',
					extras:{
						goods:item,
						goodsList:goodsListPage.goods
					},
					show:{
						aniShow:'slide-in-right'
					},
		            waiting: {
		                 autoShow: false //自动显示等待框，默认为true
		            },
		             styles:{  
				        titleNView:titleNView,
				        popGesture: 'none'
				    }  
				})
				
			}
			
			
			/***
			 * 下拉
			 */
			function pulldownRefresh(){
		     	ajaxRequestGoods(categoryId,userId,1,sortType,sort);
		     	mui('#pullrefresh').pullRefresh().endPulldown();
				 
			}
			
			/***
			 * 上拉刷新
			 */
			function pullupRefresh(){
				/***
				 * 判断是否为最后一页，如果是最后一页就停止请求
				 */
				var userId = plus.storage.getItem(sign_user_id);
				pageNumber = pageNumber + 1;
				
				
				
				var data = {method:'goods00001',module:goodApi,requestId:requestId,sign:signMd5,timeStamp:timeStamp,
					cid:categoryId,pageNumber:pageNumber,pageSize:'20',uid:userId,isTmall:'0',hasCoupon:'2',sortType:sortType,sort:sort
				}
				var that = this;
				mui.post(httpUrl,data,function(res){
						if(res.respCode=='0000'){
							goodsListPage.goods = goodsListPage.goods.concat(res.result.result);
							if(pageNumber >= pageCount){
							 	that.endPullupToRefresh(true);
							}else{
							 	that.endPullupToRefresh(false);
							}
						}
					},'json'
				);
					
					
					
			}
			
			
			
			
			/***
			 * @param {Object} cid  分类id
			 * @param {Object} uid		       用户id
			 * @param {Object} pageNumber  页码
			 * @param {Object} hasCoupon    1-只显示优惠券 2-全部
			 * @param {Object} isTmall    商品类型 1-只显示天猫 0-所有商品
			 * @param {Object} sort  排序方式1-升序 2-降序
			 * @param {Object} sortType  排序类型1-价格 2-销量 3-优惠券面值 4-返佣
			 * uid
			 */
			function ajaxRequestGoods(cid,uid,pageNum,sorttype,sorts){
				document.getElementById("titleText").innerHTML = title;
				var data = {
					method:'goods00001',
					module:goodApi,
					requestId:requestId,
					sign:signMd5,
					timeStamp:timeStamp,
					cid:cid,
					pageNumber:pageNum,
					pageSize:'20',
					uid:uid,
					isTmall:'0',
					hasCoupon:'2',
					sortType:sorttype,
					sort:sorts
				}
				categoryId = cid;
				mui.post(httpUrl,data,function(res){
						if(res.respCode=='0000'){
							pageCount = res.result.pageCount;
							pageNumber = res.result.pageNumber;
							goodsListPage.goods = [];
							goodsListPage.goods = res.result.result;
						}
					},'json'
				);
			}
			
			mui(".orderTap").on("tap","a",function(e){
				var ids = this.getAttribute("id");
				if(ids=='openPopover'){
					return;
				}
				
				if(ids=='btn_serach'){
					if(goodsListPage.layout=='list'){
						document.getElementById("btn_serach").innerHTML = '<span class="mui-icon iconfont icon-fenlei"></span>';
						goodsListPage.layout = 'grid';
					}else{
						document.getElementById("btn_serach").innerHTML = '<span class="mui-icon mui-icon-bars"></span>';
						goodsListPage.layout = 'list';
					}
					return;
				}
				
				
				var arr = ids.split(",");
				
				sortType = arr[0];
				sort = arr[1];
				pageNumber = 1;
				
				ajaxRequestGoods(categoryId,userId,pageNumber,sortType,sort);
				
				var sortTypeNum = parseInt(sortType);
				if(sortTypeNum>=3){
					return;
				}
				
				this.removeAttribute("id");
				if(sort=='1'){
					this.setAttribute('id',sortType+',2');
				}else{
					this.setAttribute('id',sortType+',1');
				}
				
			})
			
			/*点击综合列表后关闭*/
			document.getElementById("popover").addEventListener("tap",function(event) {
				mui('#popover').popover('hide');
			});
			
	
		</script>
		
		
		
	</body>

</html>